<div class="container-fluid">
  <div class="mt-5 text-center">
    <h4>N'hésites pas à nous contacter</h4><br>
  </div>

  <div class="row pb-3">
    <div class="col-md-6">
      <div class="form-group">
        <label for="form_email">Ton email :</label>
        <input id="form_email" type="email" name="email" class="form-control" placeholder="nom@adresse.com">
      </div>
    </div>
  </div>

  <div class="row pb-3">
    <div class="col-md-12">
      <div class="form-group">
        <label for="form_message">Dis nous tout :</label>
        <textarea id="form_message" name="message" class="form-control" placeholder="Ton message" rows="4"></textarea>
        <div class="help-block with-errors"></div>
      </div>
    </div>
    <div class="col-md-12">
      <input type="submit" class="btn btn-warning btn-send" value="Send message">
    </div>
  </div>
</div>


